<!DOCTYPE html>
<html>
<head>
    <title>NASA Data Visualizations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">NASA Near-Earth Objects and Meteorite Landings Data Visualizations</h1>
        <p><a href="/data">View Data Tables</a></p>
        <h2>Visualizations</h2>
        <img src="/static/potentially_hazardous_asteroids.png" alt="Potentially Hazardous Asteroids">
        <img src="/static/miss_distance_vs_magnitude.png" alt="Miss Distance vs Magnitude">
    </div>
</body>
</html>
