<!DOCTYPE html>
<html>
<head>
    <title>NASA Data Visualizations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">NASA Near-Earth Objects and Meteorite Landings Data Visualizations</h1>
        <p><a href="/data">View Data Tables</a></p>
        <p><a href="/plot">View Meteorite Landings Visualization (3D Globe)</a></p>
        <p><a href="/europa.html"></a></p>
        <h2>Visualizations</h2>
        <img src="/static/potentially_hazardous_asteroids.png" alt="Potentially Hazardous Asteroids">
        <img src="/static/miss_distance_vs_magnitude.png" alt="Miss Distance vs Magnitude">
        <img src="/static/top_10_meteorite_class_distribution.png" alt="Top 10 Most Frequent Meteorite Classes">
        <img src="/static/mass_vs_latitude_meteorite_landings.png" alt="Mass vs Latitude of Meteorite Landings">
        <img src="/static/mass_vs_longitude_meteorite_landings.png" alt="Mass vs Longitude of Meteorite Landings">
    </div>
</body>
</html>
